[package]
name = "schematic"
version = "0.1.1"
edition = "2021"
license = "MIT"
description = "derive(Config)"
repository = "https://github.com/moonrepo/schematic"

[dependencies]
schematic_macros = { version = "0.1.1", path = "../macros" }
garde = { version = "0.11.2", default-features = false, features = ["pattern"] }
miette = { workspace = true }
reqwest = { version = "0.11.17", default-features = false, features = ["blocking", "rustls-tls"] }
serde = { workspace = true }
serde_path_to_error = "0.1.11"
starbase_styles = "0.1.7"
thiserror = "1.0.40"

# json
serde_json = { version = "1.0.95", optional = true }

# json schema
schemars = { version = "0.8.12", optional = true }

# toml
toml = { version = "0.7.3", optional = true }

# typescript
ts-rs = { version = "6.2.1", optional = true }

# yaml
serde_yaml = { version = "0.9.21", optional = true }

[features]
default = ["json"]
json = ["dep:serde_json"]
json_schema = ["dep:schemars"]
toml = ["dep:toml"]
typescript = ["dep:ts-rs"]
yaml = ["dep:serde_yaml"]

valid_email = ["garde/email"]

[dev-dependencies]
schematic = { path = ".", features = ["json", "yaml", "toml", "valid_email"] }
serial_test = "2.0.0"
