[package]
name = "schematic"
version = "0.1.1"
edition = "2021"
license = "MIT"
description = "A serde-based layered configuration crate."
repository = "https://github.com/moonrepo/schematic"

[dependencies]
miette = "5.8.0"
reqwest = { version = "0.11.17", default-features = false, features = ["blocking"] }
schematic_macros = { version = "0.1.1", path = "../macros" }
serde = { version = "1.0.159", features = ["derive"] }
thiserror = "1.0.40"

# json
serde_json = { version = "1.0.95", optional = true }

# json schema
schemars = { version = "0.8.12", optional = true }

# toml
toml = { version = "0.7.3", optional = true }

# typescript
ts-rs = { version = "6.2.1", optional = true }

# yaml
serde_yaml = { version = "0.9.21", optional = true }

[features]
default = ["yaml"]
json = ["dep:serde_json"]
json_schema = ["dep:schemars"]
toml = ["dep:toml"]
typescript = ["dep:ts-rs"]
yaml = ["dep:serde_yaml"]

[dev-dependencies]
schematic = { path = ".", features = ["json", "yaml", "toml"] }
serial_test = "2.0.0"
