[package]
name = "schematic"
version = "0.7.2"
edition = "2021"
license = "MIT"
description = "derive(Config)"
repository = "https://github.com/moonrepo/schematic"
readme = "../../README.md"

[dependencies]
schematic_macros = { version = "0.7.1", path = "../macros" }
garde = { version = "0.11.2", default-features = false, features = ["pattern"] }
miette = { workspace = true }
reqwest = { version = "0.11.18", default-features = false, features = ["blocking", "rustls-tls"] }
serde = { workspace = true }
serde_path_to_error = "0.1.11"
starbase_styles = "0.1.8"
thiserror = "1.0.40"
tracing = "0.1.37"

# json
serde_json = { version = "1.0.95", optional = true }

# json schema
schemars = { workspace = true, optional = true }

# toml
toml = { version = "0.7.4", optional = true }

# yaml
serde_yaml = { version = "0.9.21", optional = true }

[features]
default = ["json", "typescript"]
json = ["dep:serde_json"]
json_schema = ["dep:schemars", "schematic_macros/json_schema"]
toml = ["dep:toml"]
typescript = ["schematic_macros/typescript"]
yaml = ["dep:serde_yaml"]

valid_email = ["garde/email"]
valid_url = ["garde/url"]

[dev-dependencies]
schematic = { path = ".", features = ["json", "json_schema", "yaml", "toml", "typescript", "valid_email", "valid_url"] }
serial_test = "2.0.0"
