[package]
name = "schematic_types"
version = "0.2.3"
edition = "2021"
license = "MIT"
description = "Shapes and types for defining schemas for Rust types."
repository = "https://github.com/moonrepo/schematic"
